{# bootstrap #}
<script type="text/javascript" src="{% static 'dead-common/externals/bootstrap/dist/js/bootstrap.min.js' %}"></script>

{# js cookie #}
<script type="text/javascript" src="{% static 'dead-common/externals/js-cookie/src/js.cookie.js' %}"></script>

{# js storage #}
<script type="text/javascript" src="{% static 'dead-common/externals/js-storage/js.storage.min.js' %}"></script>

{# plain overlay #}
<script type="text/javascript" src="{% static 'dead-common/externals/jquery-plainoverlay/jquery.plainoverlay.js' %}"></script>

{# bootbox #}
<script type="text/javascript" src="{% static 'dead-common/externals/bootbox.js/bootbox.js' %}"></script>

{# moment #}
<script type="text/javascript" src="{% static 'dead-common/externals/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dead-common/externals/moment/locale/es.js' %}"></script>

{# numbro #}
<script type="text/javascript" src="{% static 'dead-common/externals/numbro/dist/numbro.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dead-common/externals/numbro/dist/languages/es-ES.min.js' %}"></script>

{# chosen #}
<script type="text/javascript" src="{% static 'dead-common/externals/chosen/chosen.jquery.min.js' %}"></script>

{# bootstrap filestyle #}
<script type="text/javascript" src="{% static 'dead-common/externals/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}"></script>

{# bootstrap dual listbox #}
<script type="text/javascript" src="{% static 'dead-common/externals/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.min.js' %}"></script>

{# bootstrap toggle #}
<script type="text/javascript" src="{% static 'dead-common/externals/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>

{# datetime picker #}
<script type="text/javascript" src="{% static 'dead-common/externals/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

{% include "dead-js-utilities/dependencies/bottom/external.html" %}
{% include "dead-forms/dependencies/bottom/external.html" %}
{% include "common/dependencies/bottom/external.html" %}
